USE [master]
GO
/****** Object:  Database [currier]    Script Date: 11/22/2018 3:51:26 PM ******/
CREATE DATABASE [currier]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'currier', FILENAME = N'D:\Heroes of the Storm\SQL\MSSQL14.MSSQLSERVER\MSSQL\DATA\currier.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'currier_log', FILENAME = N'D:\Heroes of the Storm\SQL\MSSQL14.MSSQLSERVER\MSSQL\DATA\currier_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [currier].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [currier]
GO
/****** Object:  Table [dbo].[TablaEmpleado]    Script Date: 11/22/2018 3:51:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaEmpleado](
	[CodigoEmpleado] [int] NULL,
	[Usuario] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[TipoUsuario] [char](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TablaEmpleado] ([CodigoEmpleado], [Usuario], [Password], [TipoUsuario]) VALUES (4325, N'Edward', N'1234', N'adm       ')
GO
INSERT [dbo].[TablaEmpleado] ([CodigoEmpleado], [Usuario], [Password], [TipoUsuario]) VALUES (2356, N'Jose', N'123', N'res       ')
GO
USE [master]
GO
